.blogpost {
  padding: 10px;
  box-shadow: 1px 2px 2px gray;
}

.blogpost:hover .small {
  display: none;
}
.blogpost:hover {
  background-image: url(../../../images/quote.png);
  background-repeat: no-repeat;
  background: linear-gradient(90deg, #18d2b0, #0fcfe7);
  color: #ffffff;
}
.blogpost:hover img {
  display: none;
}
.blogpost:hover .icon {
  display: block;
}
.icon {
  display: none;
  font-size: 36px;
  font-weight: 200;
  margin-top: 40%;
}
